.crew {
  padding: 20px 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 800px) {
  .crew {
    padding: 20px 20px;
  }
}

.crew-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 70px;
}

#crew-header {
  color: #bf975c;
  -webkit-text-fill-color: #bf975c;
  border-bottom: #084c44 solid 2px;
}

#crew-subheader {
  background: linear-gradient(to right, #333333, #084c44);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 650px) {
  .crew-header {
    padding: 20px;
  }

  #crew-subheader {
    background: linear-gradient(to bottom, #333333, #084c44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
