.crew {
  padding: 20px 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 800px) {
  .crew {
    padding: 20px 20px;
  }
}

#crew-header {
  width: fit-content;
  margin: auto;
  color: #bf975c;
  border-bottom: #084c44 solid 2px;
  font-size: 2.5rem;

  text-align: center;
}

#crew-subheader {
  margin: 20px;
  color: #333333;
  text-align: center;
}
