footer {
  background-color: #edefee;
  padding: 20px 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: start;
}

.footer-text {
  flex: 1;
  max-width: 20rem;
}

.footer-text * {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #333333;
}
.footer-text h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #333333;
}

.footer-map h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333333;
  font-weight: 700;
}

#contactus-footer {
  margin-bottom: 20px;
  font-weight: 700;
}

.footer-map iframe {
  border: #03494730 2px solid;
  border-radius: 16px;
}

.footer-map iframe:hover,
.footer-map iframe:focus,
.footer-map iframe:active {
  border: #034947 2px solid;
  scale: 1.01;
  cursor: pointer;
}

.footer-text *:hover,
.footer-text *:focus,
.footer-text *:active {
  color: #034947;
  scale: 1.01;
  cursor: pointer;
}

#address-short {
  display: none;
}
@media screen and (max-width: 970px) {
  footer {
    padding: 20px 20px;
    justify-content: center;
  }

  .footer-content {
    justify-content: center;
    align-items: start;
  }

  .footer-text {
    min-width: 280px;
  }
}
@media screen and (max-width: 651px) {
  .footer-text {
    text-align: center;
  }

  .footer-map {
    text-align: center;
  }

  #address-short {
    display: block;
  }
  #address-long {
    display: none;
  }
  .footer-map {
    display: none;
  }
}
