header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  background-color: #ffffff;
}

.menu-button {
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  color: #76644e !important;
  background-color: #ffffff;

  align-content: center;
  justify-content: center;

  padding: 1px 12px 5px 12px;

  border: 2px solid #76644e;
  border-radius: 8px;
}

#logoImgHeader {
  width: 180px;
}

@media (max-width: 1050px) {
  header {
    justify-content: center;
    padding: 20px 20px;
  }
}

@media (max-width: 808px) {
  header {
    justify-content: space-between;
  }
}
