menu#blog-menu {
  width: 90%;
  margin: auto;
  padding: 70px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

@media (max-width: 820px) {
  menu#blog-menu {
    gap: 20px;
  }
}

section#blog-section {
  background: #fff;
}
