h3 {
  font-size: 1.5rem;
}

li {
  list-style: none;
}

header,
footer,
main {
  overflow: hidden;
}

#root {
  scroll-behavior: smooth;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
